<html lang="pt">
  <head>
    <title>Python Flask-MYSQL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <form action="gravar" method="POST">
      <input type="text" name="nome" placeholder="Nome">
      <br><br>
      <input type="email" id="email" name="email"  placeholder="Email">
      <br><br>
      <input type="password" id="senha" name="senha" placeholder="Senha">
      <br><br>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html> 